@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
  }
}

body {
  background: var(--background);
  transition-property: opacity, transform, filter, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  color: white;
}

.page-transition {
  opacity: 0;
  background-color: black;
  transform: translate3D(100px);
  filter: blur(12px);
}