
.parent_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
    margin-left: 1vw;
  }
  
  .container {
    /* top: -1.5vw; Move the container up by 5% of the viewport width */
    width: 60vw;
    height: 60vw;
    background-color: transparent;
  }
  
  .webgl {
    position: absolute; /* Or 'absolute' if necessary */
    top: -9.25vw; /* Move the canvas up by 5% of the viewport width */
    left: 7vw;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }