
/* 
-----------------------------------------------------------------
Laptop Dimensions (LD): Minimum Width: 925px
Tablet Dimensions (TD): Minimum Width: 646px, Maximum Width: 924px
Phone Dimensions (PD): Maximum Width: 645px 
-----------------------------------------------------------------
*/

/*
-----------------------------------------------------------------
Home Page Sub Headers (Who We Are, etc):
    - For all Dimensions: 2.75vw

Home Page Text Content:
    - (LD): 1.5vw
    - (TD): 2.0vw
    - (PD): 2.5vw
-----------------------------------------------------------------
*/

/*
----------------------------------------------
Laptop Dimensons: Minimum Width: 950px
Tablet/Phone Dimensions: Maximum Width: 949px
----------------------------------------------
*/

.home_pg_header {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;

    @media screen and (min-width: 950px) {
        padding-top: 11.5vw;
        padding-bottom: 14.5vw;
    }
    @media screen and (max-width: 949px) {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .bike_model {
        width: 43.5%;
        flex: 1;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 9;
    }

    .h_pg_h_text {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-top: 5.5vw;
        // margin-left: 40.5vw;                                                    // Main Postion
        // margin-right: 12.75vw;                                                  // Main Position
        margin-left: 27.5vw;                                                 // Temp Position
        margin-right: 23.75vw;                                               // Temp Position
        width: 65%;
        z-index: 8; 

        .reg_text_1 {
            display: inline-block;
            text-align: left;
            width: 100%;
            z-index: 7;   
            animation: color_change infinite 2.5s ease-in-out;     

            .reg_text_1_1 {
                font-size: 2.125vw;
                font-family: 'Benzin-Regular';
                -webkit-text-stroke: 0.05vw grey;
            }
        }

        .reg_text_2 {
            display: inline-block;
            text-align: right;
            z-index: 7;
            animation: color_change infinite 2.5s ease-in-out;

            .reg_text_2_1 {
                font-size: 2.125vw;
                font-family: 'Benzin-Regular';
                -webkit-text-stroke: 0.05vw grey;
            }
        }

        .large_text {
            text-align: center;
            display: inline-block;
            width: 100%;
            margin-top: -3vw;
            margin-bottom: -2.5vw;
            z-index: 6;
            animation: color_change infinite 2.5s ease-in-out;

            .large_text_1 {
                font-size: 9vw;
                font-family: 'Benzin-Regular';
                transition: transform 0.5s ease, font-family 0.5s ease;
                -webkit-text-stroke: 0.25vw grey;

                &.large_text_1:hover {
                    font-size: 9vw;
                    font-family: 'Benzin-Bold';
                    transform: scale(1.01); /* Add a slight scale effect */
                }
            }
        }
    }
}

.who_we_are {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(43, 43, 43);
    width: auto;
    z-index: 10;

    .wwa_header {
        transform: translateY(-2.0vw);

        .wwa_h_text {
            padding-left: 7.5vw;
            font-size: 2.75vw;
            font-family: 'Benzin-Bold';
        }
    }

    .wwa_content {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        transform: translateY(-2vw);

        @media screen and (min-width: 925px) {
            flex-direction: row;
        }
        @media screen and (max-width: 924px) and (min-width: 646px) {
            flex-direction: column;
        }
        @media screen and (max-width: 645px) {
            flex-direction: column;
        }

        .wwa_c_text {

            ////////////////////////////////
            // Adjust Font size for later //
            ////////////////////////////////

            @media screen and (min-width: 925px) {
                width: 50%;
                padding-left: 2vw;
            }
            @media screen and (max-width: 924px) and (min-width: 646px) {
                width: 100%;
                padding: 2vw;
            }
            @media screen and (max-width: 645px) {
                width: 100%;
                padding: 2vw;
            }

            .wwa_c_list{
                display: flex;
                
                @media screen and (min-width: 925px) {
                    flex-direction: column;
                    list-style-position: inside;
                    padding-left: 2vw;
                }
                @media screen and (max-width: 924px) and (min-width: 646px) {
                    flex-direction: row;
                    padding-left: 2vw;
                }
                @media screen and (max-width: 645px) {
                    flex-direction: row;
                    padding: 2vw;
                }

                .wwa_c_l_style {
                    padding-top: 2vw;
                    padding-bottom: 1vw;

                    @media screen and (min-width: 925px) {
                        list-style: square;
                    }
                    @media screen and (max-width: 924px) and (min-width: 646px) {
                        text-align: center;
                        padding: 2vw;
                    }
                    @media screen and (max-width: 645px) {
                        text-align: center;
                        padding: 2vw;
                    }
                    

                    .wwa_c_t_style {
                        font-family: 'Helvetica-Regular';

                        @media screen and (min-width: 925px) {
                            font-size: 1.5vw;
                        }
                        @media screen and (max-width: 924px) and (min-width: 646px) {
                            font-size: 2vw;
                            text-align: center;
                        }
                        @media screen and (max-width: 645px) {
                            font-size: 2.5vw;
                        }
                    }
                }
            }
            
        }

        .wwa_c_video {
            display: flex;

            @media screen and (min-width: 925px) {
                width: 50%;
                justify-content: center;
                align-items: center;
            }
            @media screen and (max-width: 924px) and (min-width: 646px) {
                justify-content: center;
                align-items: center;
            }
            @media screen and (max-width: 645px) {
                justify-content: center;
                align-items: center;
            }

            .wwa_c_v_part {
                width: 45vw;
                height: 25vw;
                
            }
        }

    }


}

.what_we_do {
    display: flex;
    flex-direction: column;

    .wdd_content {
        display: flex
    }

    .wdd_pictures {
        display: flex
    }
}

.wwd_c_main {
    display: flex;

    @media screen and (min-width: 925px) {
        flex-direction: row;
    }
    @media screen and (max-width: 924px) and (min-width: 646px) {
        flex-direction: column;
    }
    @media screen and (max-width: 645px) {
        flex-direction: column;
    }

    .wwd_c_m {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 1.5vw;

        @media screen and (min-width: 925px) {
            padding-bottom: 1.5vw;
        }
        @media screen and (max-width: 924px) and (min-width: 646px) {
            padding-top: 4.5vw;
            padding-bottom: 2.5vw;
        }
        @media screen and (max-width: 645px) {
            padding-top: 4.5vw;
            padding-bottom: 2.5vw;
        }

        .wwd_text {
            display: flex;
            
            @media screen and (min-width: 925px) {
                padding-top: 6.5vw;
                padding-left: 32.15vw;
            }
            @media screen and (max-width: 924px) and (min-width: 646px) {
                padding-top: 2vw;
                padding-bottom: 2vw;
                justify-content: center;
            }
            @media screen and (max-width: 645px) {
                padding-top: 2vw;
                padding-bottom: 2vw;
                justify-content: center;
            }
    
            .wwd_t_style {
                font-size: 2.25vw;
                font-family: 'Benzin-Bold';
            }
        }

        .wwd_c_m_buttons {
            display: flex;
            font-family: "Benzin-Bold";
            padding-top: 1.5vw;
            transition: 0.5s;
            cursor: default;
    
            &.wwd_c_m_buttons:hover {
                font-family: "Benzin-Regular";
                transition: 1.5s;
                cursor: default;
            }
    
            @media screen and (min-width: 925px) {
                width: 100%;
                flex-direction: column;
                align-items: end;
            }
            @media screen and (max-width: 924px) and (min-width: 646px) {
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            @media screen and (max-width: 645px) {
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
    
            .wwd_c_m_b_type {
                margin-top: -3.5vw;
                transition: 0.5s;
                cursor: default;
    
                @media screen and (min-width: 925px) {
                    font-size: 4.615vw;
                    padding-top: 1.0vw;
                    padding-bottom: 1.0vw;
                }
                @media screen and (max-width: 924px) and (min-width: 646px) {
                    font-size: 6vw;
                    padding-top: 1.0vw;
                    padding-bottom: 1.0vw;
                    
                }
                @media screen and (max-width: 645px) {
                    font-size: 6vw;
                    padding-top: 1.0vw;
                    padding-bottom: 1.0vw;
                }
    
                &.wwd_c_m_b_type:hover {
                    font-family: "Benzin-Bold";
                    color: red;
                    transform: scale(1.01);
                    cursor: hand;
                }

                .wwd_c_m_b_t_style {
                    cursor: hand;
                }
                
            }
        }

    }
    

    .wwd_c_m_info {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Helvetica-Regular';
        list-style: none;

        @media screen and (min-width: 925px) {
            width: 45%;
            font-size: 1.5vw;
            padding-left: 2vw;
            padding-right: 2vw;
            padding-top: 3.5vw;
        }
        @media screen and (max-width: 924px) and (min-width: 646px) {
            width: 100%;
            font-size: 2.5vw;
            padding-left: 6.0vw;
            padding-right: 4.5vw;
            text-align: center;
        }
        @media screen and (max-width: 645px) {
            width: 100%;
            font-size: 2.5vw;
            padding-left: 6.5vw;
            padding-right: 4.5vw;
            text-align: center;
        }

        .wwd_c_m_i_style {
            padding: 1vw;
        }

        .temp_text {
            font-family: "Helvetica-Regular";
            font-size: 1.5vw;
            padding: 1.0vw;

            @media screen and (min-width: 925px) {
                font-size: 1.5vw;
            }
            @media screen and (max-width: 924px) and (min-width: 646px) {
                font-size: 3.0vw;
                text-align: center;
            }
            @media screen and (max-width: 645px) {
                font-size: 2.5vw;
                text-align: center;
            }
        }

        .text_enter {
            opacity: 0;
            transform: translateY(10%);
            transition-delay: 200ms; /* Delay before the entering transition starts */
        }
        
        .text_enter_active {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
        }
        
        .text_exit {
            opacity: 1;
            transform: translateY(0);
        }
        
        .text_exit_active {
            opacity: 0;
            transform: translateY(-10%);
            transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
            transition-delay: 200ms; /* Delay before the entering transition starts */
        }

    }
}

.pic_slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: visible;
    padding-top: 1.5vw;
    padding-bottom: 8.5vw;

    .p_s_image {
        padding: 0.85vw;
        margin-top: 3.5vw;

        & img {
            width: 65vw;
            height: auto;
            border-radius: 10px;

            @media (max-width: 924px) {
                width: 45vw;
            }
            
            @media (max-width: 645px) {
                width: 55vw;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .custom_dots {
        display: flex;
        justify-content: center;
        margin-top: 5px;

        // Responsive styles
        @media (max-width: 924px) {
            display: none;
        }
        
        @media (max-width: 645px) {
            display: none;
        }
    
        .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #999;
            border: none;
            margin: 0 5px;
            cursor: pointer;
            transition: background-color 0.3s;
    
            &:hover {
                background-color: #555;
            }
        }

        .active {
            background-color: red; // Color for the active dot
        }
    
        
    }
}

.planned_comp {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(43, 43, 43);
    width: auto;
    margin-top: 0vw;                                                              // Main Postion
    // margin-top: 5.5vw;                                                         // Temp Position

    .pc_header {
        transform: translateY(-2.0vw);

        .pc_h_text {
            padding-left: 7.5vw;
            font-size: 2.75vw;
            font-family: 'Benzin-Bold';
            -webkit-text-stroke: 0.1vw grey;
        }
    }

    .pc_temp {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-2.0vw);
        padding: 2.5vw;

        .pc_t_text {
            font-size: 4.5vw;
            font-family: "Benzin-Regular";
        }
    }

    .pc_main_text {
        display: flex;
        flex-direction: row;
    
        .pc_m_text {
            width: 50%;
    
            &.pc_m_text h2 {
                font-size: 2.0vw;
                font-family: "benzin-Bold";
                margin-left: 7.5vw;
                margin-bottom: 2.5vw;
            }
    
            .pc_m_list {
                margin: 0;
                padding-left: 8.5vw;
                list-style-position: inside; /* This ensures the list style is inside the content box */
            
                li {
                    list-style: square;
                    margin-left: 20px; /* Add margin if necessary */
                    margin-top: 10px;
                    
                    p {
                        font-size: 1.5vw;
                        font-family: "Helvetica-Regular";
                        padding-bottom: 1.0vw;

                        @media screen and (max-width: 924px) and (min-width: 646px) {
                            font-size: 2.0vw;
                        }
                        @media screen and (max-width: 645px) {
                            font-size: 2.5vw;
                        }
                    }
                }
            }
        }
    
        .pc_m_img {
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: center;
            
        }
    }
}

.sponsors {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    background-color: red;

    .s_header {
        margin-top: 5.75vw;

        .s_h_text {
            padding-left: 7.5vw;
            font-size: 2.75vw;
            font-family: 'Benzin-Bold';
        }
    }

    .s_images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 4.5vw;
        align-items: center;
        justify-content: center;

    }
}

.hr {
    width: 100%;
    height: 50px;
}

@font-face {
    font-family: "Benzin-Regular";
    src: url("/font_styles/Benzin-Regular.ttf");
}
@font-face {
    font-family: "Benzin-Bold";
    src: url("/font_styles/Benzin-Bold.ttf");
}
@font-face {
    font-family: "Coolvetica-Regular";
    src: url("/font_styles/coolvetica\ rg.otf");
}
@font-face {
    font-family: "Helvetica-Regular";
    src: url("/font_styles/Helvetica.ttf");
}
