
/*
----------------------------------------------
Laptop Dimensons: Minimum Width: 950px
Tablet/Phone Dimensions: Maximum Width: 949px
----------------------------------------------
*/

.nf_container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nf_title {
        font-family: "Benzin-Regular";
        font-size: 2.75vw;
        color: inherit;
        padding: 5vw;
        animation: color_change infinite 2.5s ease-in-out;  

        @keyframes color_change {
            0% {color: white}
            50% { color: red }
            100% {color: white}
        }
    }

    .nf_message {
        font-family: "Benzin-Regular";
        font-size: 2.75vw;
        color: inherit;
        padding: 5vw;
        animation: color_change infinite 2.5s ease-in-out;  

        @keyframes color_change {
            0% {color: white}
            50% { color: red }
            100% {color: white}
        }
    }
}

@font-face {
    font-family: "Benzin-Regular";
    src: url("/font_styles/Benzin-Regular.ttf");
}
@font-face {
    font-family: "Benzin-Bold";
    src: url("/font_styles/Benzin-Bold.ttf");
}
@font-face {
    font-family: "Coolvetica-Regular";
    src: url("/font_styles/coolvetica\ rg.otf");
}
@font-face {
    font-family: "Helvetica-Regular";
    src: url("/font_styles/Helvetica.ttf");
}