
/*
----------------------------------------
Laptop Dimensions: Minimum Width: 950px
Tablet/Phone Dimensions: Maximum With: 949px
----------------------------------------
*/

.team_main {

    .top {
        padding-top: 55px;
        opacity: 0;
    }

    .t_picture {
        display: flex;
        flex-direction: column;

        .t_title1 {
            font-family: "Benzin-Bold";
            font-size: 3.75vh;
            padding-left: 7.5vw;

            @media screen and (max-width: 949px) {
                padding-left: 0;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
        }
        .t_img_container {
            width: 100%;
            padding-left: 5vw;
            padding-right: 5vw;

            .t_img1 {
                width: 100%;
                height: 75vh;
                background-attachment: fixed;
                background-image: url("/tp_imgs/team_photos/2024-2025_full_team.DNG");
                background-size: cover; /* Adjust image to cover the area */
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Prevent repetition */
            }
            .t_img2 {
                width: 100%;
                height: 75vh;
                background-attachment: fixed;
                background-image: url("/tp_imgs/team_photos/2024-2025_full_team_fun.png");
                background-size: cover; /* Adjust image to cover the area */
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Prevent repetition */
            }
        }
    }

    .break {
        opacity: 0;
        padding-top: 60px;
    }

    .team {
        display: flex;
        flex-direction: column;
        margin-left: 1vw;
        margin-right: 1vw;
        overflow-x: hidden;

        .t_title2 {
            font-family: "Benzin-Bold";
            font-size: 3.75vh;
            text-align: center;
            padding-bottom: 0.5vw;
            transition: 0.5s;
        }
        .t_title2:hover {
            transform: scale(1.1);
            color: red;

            @media screen and (max-width: 924px) {
                transform: scale(1);
                color: inherit;
            }
        }

        .t_members {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            .t_member {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1.55vw;
                transition: 0.5s;

                @media screen and (max-width: 949px) {
                    padding-right: 1.75vw;
                    padding-left: 1.75vw;
                    padding-top: 1.75vw;
                    padding-bottom: 4.75vw;
                }

                .t_member_img {
                    width: 16vw;
                    height: inherit;
                    padding-left: 1vw;
                    padding-right: 1vw;
                    border-radius: 50%;

                    @media screen and (max-width: 949px) {
                        width: 200px;
                    }
                }
                .t_member_name {
                    font-family: "Benzin-Regular";
                    font-size: 1.2vw;
                    padding-top: 0.75vw;
                    width: 20vw;
                    text-align: center;

                    @media screen and (max-width: 949px) {
                        font-size: 20px;
                    }
                }
                .t_member_role {
                    font-family: "Benzin-Regular";
                    font-size: 1.25vw;

                    @media screen and (max-width: 949px) {
                        font-size: 15px;
                    }
                }
            }

            .t_member:hover {
                transform: scale(1.125);

                @media screen and (max-width: 949px) {
                    transform: scale(1);
                }
            }
        }

        .member_break {
            padding-bottom: 4.5vw;
            opacity: 0;
        }   
    }

    .bottom {
        padding-bottom: 5px;
        opacity: 0;
    }
}

@font-face {
    font-family: "Benzin-Regular";
    src: url("/font_styles/Benzin-Regular.ttf");
}
@font-face {
    font-family: "Benzin-Bold";
    src: url("/font_styles/Benzin-Bold.ttf");
}
@font-face {
    font-family: "Coolvetica-Regular";
    src: url("/font_styles/coolvetica\ rg.otf");
}
@font-face {
    font-family: "Helvetica-Regular";
    src: url("/font_styles/Helvetica.ttf");
}